@{
    ViewBag.Title = "Home Page";
}
<main>
    <div class="elementor-element elementor-element-99d3428 mona-sec-tab-product e-flex e-con-boxed e-con e-parent" data-id="99d3428" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-5267154 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-invisible elementor-widget elementor-widget-electio_product_filter" data-id="5267154" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;slideInUp&quot;}" data-widget_type="electio_product_filter.default">
                <div class="elementor-widget-container">

                    <section class="js-container-async ajax-posts el-popular-product-section"
                             data-post-type="product"
                             data-post-status="publish"
                             data-quantity="8"
                             data-multiselect="false"
                             data-orderby="date"
                             data-order="DESC">

                        <div class="anc-ajax-filter-box--m justify-content-between">
                            <h2 class="ajax_epc_section_title text-capitalize font-semibold wow fadeInUp">Sản phẩm nổi bật</h2>

                            <div class="ajax-posts__filterlist el-hm1-filter-btn-group">
                                <ul class="ajax-post__filter-category taxonomy-product-cat">
                                    <li>
                                        <a href="#" class="ajax-posts__filter js-reset-filters is_active">
                                            All
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ajax-posts__filter" data-filter="product_cat" data-term="smart-phones-2">
                                            Điện thoại
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ajax-posts__filter" data-filter="product_cat" data-term="games-video">
                                            Games &amp; Video
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ajax-posts__filter" data-filter="product_cat" data-term="computers">
                                            Máy tính
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ajax-posts__filter" data-filter="product_cat" data-term="home-smart">
                                            Smart Home
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="ajax-posts__status" style="display:none;"></div>

                        <div class="ajax-posts__view">
                            <aside class="ajax-posts__filters">
                            </aside>
                            <div class="ajax-posts__posts row row-cols-12 row-cols-md-2 row-cols-lg-4">

                                <div class="ajax-posts__post col mt-30">

                                    <div class="el-single-product">
                                        <div class="action-btns-wrapper">
                                            <a href="#" class="xpc-quick-view action-btn " data-product_id="4227">
                                                <span class="xpc-quick-view-text product__quick_view_text">Quick View</span>
                                                <i class="ele-icon electio-search product__quick_view_icon"></i>

                                                <!-- loader-image -->
                                                <div class="wc-loading-button-open">
                                                    <div class="xpc-loading-circle">
                                                        <svg class="xpc-spinner" viewBox="0 0 50 50">
                                                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                            <button class="action-btn">

                                                <div class="woocommerce product compare-button woosc-compare-button">
                                                    <a href="#" class="compare button woosc-btn woosc-btn-4227"
                                                       data-id="4227" rel="nofollow">
                                                    </a>
                                                </div>

                                            </button>

                                            <a href="#" data-wishlist-link="wp-admin/admin-ajaxcfb2.html?nonce=f781830c7f"
                                               data-id="4227"
                                               class="electio-add-to-wishlist  action-btn">
                                                <i class="btn-icon text-body-default ele-icon electio-heart-2"></i>
                                            </a>
                                        </div>

                                        <div class="product-img-wrapper">
                                            <div class="img-box">
                                                <a href="product/sony-playstation-vr2-approx-110-communication-with-ps5/index.html">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/9-interactive-vr-headset.png" alt="" class="main-img">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/10.png" alt="product img" class="hover-img">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <a href="~/product/sony-playstation-vr2-approx-110-communication-with-ps5/index.html" class="title">Sony PlayStation VR2 Approx. 110°, Communication​ with PS5</a>
                                            <div class="btm-content-wrapper">
                                                <div class="pricing-wrapper">
                                                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>1,205,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>1,150,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                </div>
                                                <div class="star-rating">  <span style="width:0%"><strong class="rating">0</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                        <div class="electio_product_style">
                                            <a href="#" data-link="https://look-pretty.monamedia.net/wp-admin/admin-ajax.php?action=electio_product_add&amp;id=4227&amp;nonce=b54cd14021" class="add-to-cart-btn electio-add-to-cart add-to-cart-btn" data-product_id="4227" data-name="Sony PlayStation VR2 Approx. 110°, Communication​ with PS5" data-img="wp-content/uploads/2023/10/9-interactive-vr-headset-150x150.png">
                                                Add To Cart
                                                <i class="ele-icon electio-arrow-right"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="ajax-posts__post col mt-30">

                                    <div class="el-single-product">
                                        <div class="action-btns-wrapper">
                                            <a href="#" class="xpc-quick-view action-btn " data-product_id="4226">
                                                <span class="xpc-quick-view-text product__quick_view_text">Quick View</span>
                                                <i class="ele-icon electio-search product__quick_view_icon"></i>

                                                <!-- loader-image -->
                                                <div class="wc-loading-button-open">
                                                    <div class="xpc-loading-circle">
                                                        <svg class="xpc-spinner" viewBox="0 0 50 50">
                                                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                            <button class="action-btn">

                                                <div class="woocommerce product compare-button woosc-compare-button">
                                                    <a href="#" class="compare button woosc-btn woosc-btn-4226"
                                                       data-id="4226" rel="nofollow">
                                                    </a>
                                                </div>

                                            </button>

                                            <a href="#" data-wishlist-link="wp-admin/admin-ajaxcfb2.html?nonce=f781830c7f"
                                               data-id="4226"
                                               class="electio-add-to-wishlist  action-btn">
                                                <i class="btn-icon text-body-default ele-icon electio-heart-2"></i>
                                            </a>
                                        </div>

                                        <div class="product-img-wrapper">
                                            <div class="img-box">
                                                <a href="~/product/meta-quest-2-128-gb-all-in-one-vr-system-blazing-fast-processor/index.html">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/10.png" alt="" class="main-img">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/10.png" alt="product img" class="hover-img">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <a href="~/product/meta-quest-2-128-gb-all-in-one-vr-system-blazing-fast-processor/index.html" class="title">Meta Quest 2 128 GB All-in-One VR System Blazing-fast processor</a>
                                            <div class="btm-content-wrapper">
                                                <div class="pricing-wrapper">
                                                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>950,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>925,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                </div>
                                                <div class="star-rating">  <span style="width:0%"><strong class="rating">0</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                        <div class="electio_product_style">
                                            <a href="#" data-link="https://look-pretty.monamedia.net/wp-admin/admin-ajax.php?action=electio_product_add&amp;id=4226&amp;nonce=b54cd14021" class="add-to-cart-btn electio-add-to-cart add-to-cart-btn" data-product_id="4226" data-name="Meta Quest 2 128 GB All-in-One VR System Blazing-fast processor" data-img="wp-content/uploads/2023/10/10-150x150.png">
                                                Add To Cart
                                                <i class="ele-icon electio-arrow-right"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="ajax-posts__post col mt-30">

                                    <div class="el-single-product">
                                        <div class="action-btns-wrapper">
                                            <a href="#" class="xpc-quick-view action-btn " data-product_id="4225">
                                                <span class="xpc-quick-view-text product__quick_view_text">Quick View</span>
                                                <i class="ele-icon electio-search product__quick_view_icon"></i>

                                                <!-- loader-image -->
                                                <div class="wc-loading-button-open">
                                                    <div class="xpc-loading-circle">
                                                        <svg class="xpc-spinner" viewBox="0 0 50 50">
                                                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                            <button class="action-btn">

                                                <div class="woocommerce product compare-button woosc-compare-button">
                                                    <a href="#" class="compare button woosc-btn woosc-btn-4225"
                                                       data-id="4225" rel="nofollow">
                                                    </a>
                                                </div>

                                            </button>

                                            <a href="#" data-wishlist-link="wp-admin/admin-ajaxcfb2.html?nonce=f781830c7f"
                                               data-id="4225"
                                               class="electio-add-to-wishlist  action-btn">
                                                <i class="btn-icon text-body-default ele-icon electio-heart-2"></i>
                                            </a>
                                        </div>

                                        <div class="product-img-wrapper">
                                            <div class="img-box">
                                                <a href="~/product/rapoo-n100-wired-optical-mouse-hand-orientation-both-hands/index.html">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/12.png" alt="" class="main-img">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/13.png" alt="product img" class="hover-img">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <a href="~/product/rapoo-n100-wired-optical-mouse-hand-orientation-both-hands/index.html" class="title">Rapoo N100 Wired Optical Mouse  Hand Orientation: Both Hands</a>
                                            <div class="btm-content-wrapper">
                                                <div class="pricing-wrapper">
                                                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>1,000,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>600,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                </div>
                                                <div class="star-rating">  <span style="width:0%"><strong class="rating">0</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                        <div class="electio_product_style">
                                            <a href="#" data-link="https://look-pretty.monamedia.net/wp-admin/admin-ajax.php?action=electio_product_add&amp;id=4225&amp;nonce=b54cd14021" class="add-to-cart-btn electio-add-to-cart add-to-cart-btn" data-product_id="4225" data-name="Rapoo N100 Wired Optical Mouse  Hand Orientation: Both Hands" data-img="~/wp-content/uploads/2023/10/12-150x150.png">
                                                Add To Cart
                                                <i class="ele-icon electio-arrow-right"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="ajax-posts__post col mt-30">

                                    <div class="el-single-product">
                                        <div class="action-btns-wrapper">
                                            <a href="#" class="xpc-quick-view action-btn " data-product_id="4224">
                                                <span class="xpc-quick-view-text product__quick_view_text">Quick View</span>
                                                <i class="ele-icon electio-search product__quick_view_icon"></i>

                                                <!-- loader-image -->
                                                <div class="wc-loading-button-open">
                                                    <div class="xpc-loading-circle">
                                                        <svg class="xpc-spinner" viewBox="0 0 50 50">
                                                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                            <button class="action-btn">

                                                <div class="woocommerce product compare-button woosc-compare-button">
                                                    <a href="#" class="compare button woosc-btn woosc-btn-4224"
                                                       data-id="4224" rel="nofollow">
                                                    </a>
                                                </div>

                                            </button>

                                            <a href="#" data-wishlist-link="wp-admin/admin-ajaxcfb2.html?nonce=f781830c7f"
                                               data-id="4224"
                                               class="electio-add-to-wishlist  action-btn">
                                                <i class="btn-icon text-body-default ele-icon electio-heart-2"></i>
                                            </a>
                                        </div>

                                        <div class="product-img-wrapper">
                                            <div class="img-box">
                                                <a href="product/fantech-t533-wired-premium-office-mouse-durable-and-smooth/index.html">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/13.png" alt="" class="main-img">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/12.png" alt="product img" class="hover-img">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <a href="~/product/fantech-t533-wired-premium-office-mouse-durable-and-smooth/index.html" class="title">Fantech T533 Wired Premium Office Mouse Durable and Smooth</a>
                                            <div class="btm-content-wrapper">
                                                <div class="pricing-wrapper">
                                                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>2,000,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>1,500,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                </div>
                                                <div class="star-rating">  <span style="width:0%"><strong class="rating">0</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                        <div class="electio_product_style">
                                            <a href="#" data-link="https://look-pretty.monamedia.net/wp-admin/admin-ajax.php?action=electio_product_add&amp;id=4224&amp;nonce=b54cd14021" class="add-to-cart-btn electio-add-to-cart add-to-cart-btn" data-product_id="4224" data-name="Fantech T533 Wired Premium Office Mouse Durable and Smooth" data-img="wp-content/uploads/2023/10/13-150x150.png">
                                                Add To Cart
                                                <i class="ele-icon electio-arrow-right"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="ajax-posts__post col mt-30">

                                    <div class="el-single-product">
                                        <div class="action-btns-wrapper">
                                            <a href="#" class="xpc-quick-view action-btn " data-product_id="4223">
                                                <span class="xpc-quick-view-text product__quick_view_text">Quick View</span>
                                                <i class="ele-icon electio-search product__quick_view_icon"></i>

                                                <!-- loader-image -->
                                                <div class="wc-loading-button-open">
                                                    <div class="xpc-loading-circle">
                                                        <svg class="xpc-spinner" viewBox="0 0 50 50">
                                                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                            <button class="action-btn">

                                                <div class="woocommerce product compare-button woosc-compare-button">
                                                    <a href="#" class="compare button woosc-btn woosc-btn-4223"
                                                       data-id="4223" rel="nofollow">
                                                    </a>
                                                </div>

                                            </button>

                                            <a href="#" data-wishlist-link="wp-admin/admin-ajaxcfb2.html?nonce=f781830c7f"
                                               data-id="4223"
                                               class="electio-add-to-wishlist  action-btn">
                                                <i class="btn-icon text-body-default ele-icon electio-heart-2"></i>
                                            </a>
                                        </div>

                                        <div class="product-img-wrapper">
                                            <div class="img-box">
                                                <a href="product/dji-avata-fly-smart-drone-combo-fpv-goggles-v2/index.html">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/14.png" alt="" class="main-img">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/14.png" alt="product img" class="hover-img">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <a href="~/product/dji-avata-fly-smart-drone-combo-fpv-goggles-v2/index.html" class="title">DJI Avata Fly Smart Drone Combo &#038; FPV Goggles V2 with Avata</a>
                                            <div class="btm-content-wrapper">
                                                <div class="pricing-wrapper">
                                                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>2,000,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>1,500,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                </div>
                                                <div class="star-rating">  <span style="width:0%"><strong class="rating">0</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                        <div class="electio_product_style">
                                            <a href="#" data-link="https://look-pretty.monamedia.net/wp-admin/admin-ajax.php?action=electio_product_add&amp;id=4223&amp;nonce=b54cd14021" class="add-to-cart-btn electio-add-to-cart add-to-cart-btn" data-product_id="4223" data-name="DJI Avata Fly Smart Drone Combo &amp; FPV Goggles V2 with Avata" data-img="wp-content/uploads/2023/10/14-150x150.png">
                                                Add To Cart
                                                <i class="ele-icon electio-arrow-right"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="ajax-posts__post col mt-30">

                                    <div class="el-single-product">
                                        <div class="action-btns-wrapper">
                                            <a href="#" class="xpc-quick-view action-btn " data-product_id="4222">
                                                <span class="xpc-quick-view-text product__quick_view_text">Quick View</span>
                                                <i class="ele-icon electio-search product__quick_view_icon"></i>

                                                <!-- loader-image -->
                                                <div class="wc-loading-button-open">
                                                    <div class="xpc-loading-circle">
                                                        <svg class="xpc-spinner" viewBox="0 0 50 50">
                                                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                            <button class="action-btn">

                                                <div class="woocommerce product compare-button woosc-compare-button">
                                                    <a href="#" class="compare button woosc-btn woosc-btn-4222"
                                                       data-id="4222" rel="nofollow">
                                                    </a>
                                                </div>

                                            </button>

                                            <a href="#" data-wishlist-link="wp-admin/admin-ajaxcfb2.html?nonce=f781830c7f"
                                               data-id="4222"
                                               class="electio-add-to-wishlist  action-btn">
                                                <i class="btn-icon text-body-default ele-icon electio-heart-2"></i>
                                            </a>
                                        </div>

                                        <div class="product-img-wrapper">
                                            <div class="img-box">
                                                <a href="product/dji-mini-3-pro-drone-with-rc-controller-standard-version/index.html">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/15.png" alt="" class="main-img">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/16.png" alt="product img" class="hover-img">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <a href="~/product/dji-mini-3-pro-drone-with-rc-controller-standard-version/index.html" class="title">DJI Mini 3 Pro Drone with RC Controller (Standard Version)</a>
                                            <div class="btm-content-wrapper">
                                                <div class="pricing-wrapper">
                                                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>2,000,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>1,500,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                </div>
                                                <div class="star-rating">  <span style="width:0%"><strong class="rating">0</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                        <div class="electio_product_style">
                                            <a href="#" data-link="https://look-pretty.monamedia.net/wp-admin/admin-ajax.php?action=electio_product_add&amp;id=4222&amp;nonce=b54cd14021" class="add-to-cart-btn electio-add-to-cart add-to-cart-btn" data-product_id="4222" data-name="DJI Mini 3 Pro Drone with RC Controller (Standard Version)" data-img="wp-content/uploads/2023/10/15-150x150.png">
                                                Add To Cart
                                                <i class="ele-icon electio-arrow-right"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="ajax-posts__post col mt-30">

                                    <div class="el-single-product">
                                        <div class="action-btns-wrapper">
                                            <a href="#" class="xpc-quick-view action-btn " data-product_id="4221">
                                                <span class="xpc-quick-view-text product__quick_view_text">Quick View</span>
                                                <i class="ele-icon electio-search product__quick_view_icon"></i>

                                                <!-- loader-image -->
                                                <div class="wc-loading-button-open">
                                                    <div class="xpc-loading-circle">
                                                        <svg class="xpc-spinner" viewBox="0 0 50 50">
                                                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                            <button class="action-btn">

                                                <div class="woocommerce product compare-button woosc-compare-button">
                                                    <a href="#" class="compare button woosc-btn woosc-btn-4221"
                                                       data-id="4221" rel="nofollow">
                                                    </a>
                                                </div>

                                            </button>

                                            <a href="#" data-wishlist-link="wp-admin/admin-ajaxcfb2.html?nonce=f781830c7f"
                                               data-id="4221"
                                               class="electio-add-to-wishlist  action-btn">
                                                <i class="btn-icon text-body-default ele-icon electio-heart-2"></i>
                                            </a>
                                        </div>

                                        <div class="product-img-wrapper">
                                            <div class="img-box">
                                                <a href="product/dji-mavic-mini-fly-more-drone-combo-gps-precise-hover/index.html">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/16.png" alt="" class="main-img">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/15.png" alt="product img" class="hover-img">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <a href="~/product/dji-mavic-mini-fly-more-drone-combo-gps-precise-hover/index.html" class="title">DJI Mavic Mini FLY More Drone Combo GPS Precise Hover</a>
                                            <div class="btm-content-wrapper">
                                                <div class="pricing-wrapper">
                                                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>2,000,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>1,500,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                </div>
                                                <div class="star-rating">  <span style="width:0%"><strong class="rating">0</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                        <div class="electio_product_style">
                                            <a href="#" data-link="https://look-pretty.monamedia.net/wp-admin/admin-ajax.php?action=electio_product_add&amp;id=4221&amp;nonce=b54cd14021" class="add-to-cart-btn electio-add-to-cart add-to-cart-btn" data-product_id="4221" data-name="DJI Mavic Mini FLY More Drone Combo GPS Precise Hover" data-img="wp-content/uploads/2023/10/16-150x150.png">
                                                Add To Cart
                                                <i class="ele-icon electio-arrow-right"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="ajax-posts__post col mt-30">

                                    <div class="el-single-product">
                                        <div class="action-btns-wrapper">
                                            <a href="#" class="xpc-quick-view action-btn " data-product_id="4220">
                                                <span class="xpc-quick-view-text product__quick_view_text">Quick View</span>
                                                <i class="ele-icon electio-search product__quick_view_icon"></i>

                                                <!-- loader-image -->
                                                <div class="wc-loading-button-open">
                                                    <div class="xpc-loading-circle">
                                                        <svg class="xpc-spinner" viewBox="0 0 50 50">
                                                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                            <button class="action-btn">

                                                <div class="woocommerce product compare-button woosc-compare-button">
                                                    <a href="#" class="compare button woosc-btn woosc-btn-4220"
                                                       data-id="4220" rel="nofollow">
                                                    </a>
                                                </div>

                                            </button>

                                            <a href="#" data-wishlist-link="wp-admin/admin-ajaxcfb2.html?nonce=f781830c7f"
                                               data-id="4220"
                                               class="electio-add-to-wishlist  action-btn">
                                                <i class="btn-icon text-body-default ele-icon electio-heart-2"></i>
                                            </a>
                                        </div>

                                        <div class="product-img-wrapper">
                                            <div class="img-box">
                                                <a href="~/product/vega-insta-glam-1000-hair-dryer-hair-dryer-1000-w-pink-white/index.html">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/19.png" alt="" class="main-img">
                                                    <img decoding="async" src="~/wp-content/uploads/2023/10/20.png" alt="product img" class="hover-img">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <a href="~/product/vega-insta-glam-1000-hair-dryer-hair-dryer-1000-w-pink-white/index.html" class="title">VEGA INSTA GLAM 1000 HAIR DRYER Hair Dryer  (1000 W, Pink, White)</a>
                                            <div class="btm-content-wrapper">
                                                <div class="pricing-wrapper">
                                                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>200,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>150,000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                </div>
                                                <div class="star-rating">  <span style="width:0%"><strong class="rating">0</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                        <div class="electio_product_style">
                                            <a href="#" data-link="https://look-pretty.monamedia.net/wp-admin/admin-ajax.php?action=electio_product_add&amp;id=4220&amp;nonce=b54cd14021" class="add-to-cart-btn electio-add-to-cart add-to-cart-btn" data-product_id="4220" data-name="VEGA INSTA GLAM 1000 HAIR DRYER Hair Dryer  (1000 W, Pink, White)" data-img="wp-content/uploads/2023/10/19-150x150.png">
                                                Add To Cart
                                                <i class="ele-icon electio-arrow-right"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="ajax-posts__load-more">
                                    <button class="js-load-more" data-page="2">
                                        Xem thêm <i class="fa-solid fa-arrows-rotate"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="ajax-posts__spinner">
                            <span class="ajax-posts__screen-reader-only">Đang tải</span>
                        </div>
                    </section>
                </div>
            </div>
            <div class="elementor-element elementor-element-38a574f elementor-widget elementor-widget-heading" data-id="38a574f" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default"></h2>

                </div>
            </div>

            <!--<div class="col-md-6 col-xl-3  mt-40 wow fadeInUp" data-wow-delay="0.1s">
            <div class="single-fea-category">-->
            @*<h4 class="font-medium text-capitalize"><a href="product-category/home-smart/index.html">Smart Home</a></h4>
                <ul>
                    <li><a href="product-category/home-smart/keyboard-home-smart/index.html">Keyboard</a></li>
                    <li><a href="product-category/home-smart/mouse-home-smart/index.html">Mouse</a></li>
                    <li><a href="product-category/home-smart/remote-home-smart/index.html">Remote</a></li>
                    <li><a href="product-category/home-smart/smart-phones/index.html">Smart Phones</a></li>
                    <li><a href="product-category/home-smart/virtual-reality-home-smart/index.html">Virtual Reality</a></li>
                </ul>
                <div class="img-wrapper">
                    <img src='~/wp-content/uploads/2023/10/camera.png' alt='' />
                </div>*@
            <!--</div>
            </div>-->

        </div>
    </div>
    </div>
</main>